@import '../../../node_modules/carbon-components/scss/globals/scss/styles.scss';

.SideBarMenuItem {
  align-items: center;
  border: 0;
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px 10px 40px;
  text-decoration: none;
  width: 300px;

  .SideBarMenuItem__content {
    border: inherit;
    color: #000;
    text-align: left;
    width: inherit;
  }
}

.SideBarMenuItem:hover {
  background-color: $ui-04;

  .SideBarMenuItem__content {
    background-color: $ui-04;
  }
}