$device-panel-height: calc(100vh - 60px);
$device-panel-header-height: 150px;
$device-panel-basic-info-height: 400px;
$device-panel-basic-info-width: 1200px;

// Configuration for the usage of tiles in basic info, needed to put in mixin
@mixin tile-configuration {
  justify-content: space-between;

  div {
    background-color: $ui-02;
    display: flex;
    width: 100%;
    border: none;
    box-shadow: none;

    h3 {
      border-bottom: none;
    }
  }
}

.DevicePanel {
  height: $device-panel-height;

  .DevicePanel__header {
    height: $device-panel-header-height;
    background-color: $ui-02;
    border-bottom: 2px solid $ui-04;

    header {
      position: absolute;
    }
  }

  .DevicePanel__content {
    display: grid;
    justify-content: center;
    padding-top: 30px;    

    .DevicePanel__basic-info {
      box-shadow: 1px 2px 4px 1px $ui-04;
      height: $device-panel-basic-info-height;
      max-height: $device-panel-basic-info-height;
      max-width: $device-panel-basic-info-width;
      padding-left: 20px;
      padding-right: 20px;
      width: $device-panel-basic-info-width;

      h3 {
        border-bottom: 2px solid $ui-03;
        display: flex;
        justify-self: flex-start;
        padding-bottom: 5px;
        padding-left: 30px;
        padding-top: 10px;
      }
      
      p {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .DevicePanel__basic-info-left {
        float: left;
        height: 100%;
        padding: 0 10px 0 10px;
        width: 50%;
        
        .DevicePanel__serial-id .DevicePanel__name .DevicePanel__target-temp {
          display: flex;
          justify-self: flex-start;
          padding: 30px 30px 10px 30px;
        }
      }

      .DevicePanel__basic-info-right {
        float: right;
        height: 100%;
        padding: 0 10px 0 10px;
        width: 50%;

        .DevicePanel__current-temperature {
          @include tile-configuration;
        }

        .DevicePanel__ambient-temperature {
          @include tile-configuration;
        }
      }
    }

    .DevicePanel__buttons {
      display: flex;
      justify-content: flex-end;
      padding-top: 15px;

      .DevicePanel__cancel-button .DevicePanel__save-button {
        width: 100px;
      }
    }
  }
}