
.DevicePanel {
  height: calc(100vh - 60px);

  .DevicePanel__header {
    height: 150px;
    background-color: $ui-02;
    border-bottom: 2px solid $ui-04;
  }

  .DevicePanel__content {
    display: flex;
    justify-content: center;
    padding-top: 30px;    

    .DevicePanel__basic-info {
      height: 400px;
      width: 1200px;
      box-shadow: 1px 2px 4px 1px $ui-04;
      padding-left: 20px;
      padding-right: 20px;

      .DevicePanel__serial-id {
        display: flex;
        justify-self: flex-start;
        padding: 20px 30px 10px 30px;
      }
    }
  }
}