$header-background-color: #222;
$header-height: 60px;
$header-padding-top-bottom: 10px;
$header-padding-left-right: 5px;
$header-logo-height-width: $header-height;
$header-title-line-height: 31px;

.Header {

  .Header__top-nav {
    background-color: $header-background-color;
    display: flex;
    height: $header-height;

    .Header__left-container {
      .Header__title {
        color: white;
        line-height: $header-title-line-height;
      }

      .Header__menu {
        background-color: #ccc;

        .Header__menu-button {
          border: none;
          height: $header-logo-height-width;
          width: $header-logo-height-width;
        }

        .Header__menu-icon {
        }
      }
    }

    .Header__right-container {

    }
  }

  .Header__left-nav {
    background-color: #f0f2f4;
    width: 250px;
    height: 100%;
    display: flex;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 60px;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
  }
}