
.Overview {

  .Overview__search-bar-container {
    border-bottom: 2px solid $ui-04;
    display: flex;
    justify-content: center;

    .Overview__search-bar {
      max-height: 100px;
      padding: 30px 0 30px 0;
      width: 500px;
    }
  }

  .Overview__content {
    align-content: center;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    height: calc(100vh - 255px);
    justify-content: center;
  }
}
