
.Register {
  display: inline-block;
  justify-content: center;

  .Register__title {
    padding: 40px 0 30px 0;
  }

  .Register__form {
    width: 500px;
    text-align: start;

    .Register__form-name {
      display: flex;
    }

    .Register__form-address {
      margin-right: unset;      
    }

    .Register__form-buttons {
      display: flex;
      justify-content: center;
    }
  }
}