
.DeviceOverview {

  .DeviceOverview__search-bar-container {
    border-bottom: 2px solid $ui-04;
    display: flex;
    height: 100px;
    justify-content: center;
    padding: 30px 0 30px 0;

    .DeviceOverview__search-bar {
      width: 500px;
    }
  }

  .DeviceOverview__content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  .DeviceOverview__content-loading {
    align-content: center;
    justify-content: center;
    padding-top: 10px;
    text-align: center;
  }

  .DeviceOverview__content-empty {
    align-content: center;
    flex: 1 1 auto;
    flex-flow: column;
    height: calc(100vh - 260px);
    justify-content: center;

    .DeviceOverview__content-empty-message {
      padding-bottom: 10px;
    }
  }
}